In [1]:

customers = {
    10000001: ("Simon", "Walsh", "Male", 21, "Savings"),
    40000002: ("Jasmine", "Miller", "Female", 34, "Checking"),
    10000003: ("Liam", "Brown", "Male", 46, "Savings"),
    30000004: ("Trevor", "Parr", "Male", 32, "Checking"),
    10000005: ("Deirdre", "Pullman", "Female", 38, "Savings"),
    30000006: ("Ava", "Coleman", "Female", 30, "Checking"),
    10000007: ("Dorothy", "Thomson", "Female", 34, "Savings"),
    20000008: ("Lisa", "Knox", "Female", 48, "Checking"),
    30000009: ("Ruth", "Campbell", "Female", 33, "Savings")
}

In [2]:
customers

{10000001: ('Simon', 'Walsh', 'Male', 21, 'Savings'),
 40000002: ('Jasmine', 'Miller', 'Female', 34, 'Checking'),
 10000003: ('Liam', 'Brown', 'Male', 46, 'Savings'),
 30000004: ('Trevor', 'Parr', 'Male', 32, 'Checking'),
 10000005: ('Deirdre', 'Pullman', 'Female', 38, 'Savings'),
 30000006: ('Ava', 'Coleman', 'Female', 30, 'Checking'),
 10000007: ('Dorothy', 'Thomson', 'Female', 34, 'Savings'),
 20000008: ('Lisa', 'Knox', 'Female', 48, 'Checking'),
 30000009: ('Ruth', 'Campbell', 'Female', 33, 'Savings')}

In [3]:

balances = {
    10000001: 1500.0,  
    40000002: 2000.0,  
    10000003: 2500.0,  
    30000004: 1800.0,  
    10000005: 1200.0,  
    30000006: 900.0,   
    10000007: 1600.0,  
    20000008: 3000.0,  
    30000009: 1100.0   
}

In [4]:
balances

{10000001: 1500.0,
 40000002: 2000.0,
 10000003: 2500.0,
 30000004: 1800.0,
 10000005: 1200.0,
 30000006: 900.0,
 10000007: 1600.0,
 20000008: 3000.0,
 30000009: 1100.0}

In [5]:
transaction_types = {"deposit", "withdrawal"}
transaction_history = {
    10000001: [],
    40000002: [],
    10000003: [],
    30000004: [],
    10000005: [],
    30000006: [],
    10000007: [],
    20000008: [],
    30000009: []
}

In [7]:
# Adding a New Customer
def add_customer(account_number, name, surname, gender, age, account_type, initial_balance=0.0):
    customers[account_number] = (name, surname, gender, age, account_type)
    balances[account_number] = initial_balance
    transaction_history[account_number] = []
    print(f"Customer {name} {surname} added with account number {account_number}.")

In [12]:
add_customer(100000010,'Dominic','Parr','Male','42','Savings',12000.0)

Customer Dominic Parr added with account number 100000010.

In [10]:
del customers['100000010']

In [13]:
customers

{10000001: ('Simon', 'Walsh', 'Male', 21, 'Savings'),
 40000002: ('Jasmine', 'Miller', 'Female', 34, 'Checking'),
 10000003: ('Liam', 'Brown', 'Male', 46, 'Savings'),
 30000004: ('Trevor', 'Parr', 'Male', 32, 'Checking'),
 10000005: ('Deirdre', 'Pullman', 'Female', 38, 'Savings'),
 30000006: ('Ava', 'Coleman', 'Female', 30, 'Checking'),
 10000007: ('Dorothy', 'Thomson', 'Female', 34, 'Savings'),
 20000008: ('Lisa', 'Knox', 'Female', 48, 'Checking'),
 30000009: ('Ruth', 'Campbell', 'Female', 33, 'Savings'),
 100000010: ('Dominic', 'Parr', 'Male', '42', 'Savings')}

In [28]:
from datetime import datetime

In [29]:
# Deposit and Withdrawal
def deposit(account_number, amount):
    if account_number in balances:
        balances[account_number] += amount
        current_date = datetime.now().strftime("%Y-%m-%d")  # Get current date
        transaction_history[account_number].append({"type": "deposit", "amount": amount, "date": current_date})
        transaction_types.add("deposit")
        print(f"Deposited {amount} to account {account_number}. New balance: {balances[account_number]}")
    else:
        print("Account not found.")

In [35]:
deposit(40000002, 20000)

Deposited 20000 to account 40000002. New balance: 20500.0

In [31]:
balances

{10000001: 2100.0,
 40000002: 500.0,
 10000003: 2500.0,
 30000004: 1800.0,
 10000005: 1200.0,
 30000006: 900.0,
 10000007: 1600.0,
 20000008: 3000.0,
 30000009: 1100.0,
 '100000010': 12000.0,
 100000010: 12000.0}

In [33]:

def withdraw(account_number, amount):
    if account_number in balances:
        if balances[account_number] >= amount:
            balances[account_number] -= amount
            current_date = datetime.now().strftime("%Y-%m-%d") 
            transaction_history[account_number].append({"type": "withdrawal", "amount": amount, "date": current_date})
            transaction_types.add("withdrawal")
            print(f"Withdrew {amount} from account {account_number}. New balance: {balances[account_number]}")
        else:
            print("Insufficient balance.")
    else:
        print("Account not found.")

In [36]:
withdraw(40000002, 1500)

Withdrew 1500 from account 40000002. New balance: 19000.0

In [23]:
balances

{10000001: 1900.0,
 40000002: 500.0,
 10000003: 2500.0,
 30000004: 1800.0,
 10000005: 1200.0,
 30000006: 900.0,
 10000007: 1600.0,
 20000008: 3000.0,
 30000009: 1100.0,
 '100000010': 12000.0,
 100000010: 12000.0}

In [24]:
def view_balance(account_number):
    if account_number in balances:
        print(f"Account {account_number} balance: {balances[account_number]}")
    else:
        print("Account not found.")

In [25]:
view_balance(40000002)

Account 40000002 balance: 500.0

In [26]:
def view_transaction_history(account_number):
    if account_number in transaction_history:
        print(f"Transaction history for account {account_number}:")
        for transaction in transaction_history[account_number]:
            print(transaction)
    else:
        print("Account not found.")

In [37]:
view_transaction_history(40000002)

Transaction history for account 40000002:
{'type': 'withdrawal', 'amount': 1500, 'date': '2023-01-05'}
{'type': 'deposit', 'amount': 20000, 'date': '2024-10-30'}
{'type': 'withdrawal', 'amount': 1500, 'date': '2024-10-30'}